body {
    margin: 0; 
}
header {
    background-color: #c4c4c4;
    display: flex;
    justify-content: space-between;

}

.logo {
    justify-content: flex-end;
    margin-right: 11px;
    margin-top: 4px;



}

nav {
    justify-content: flex-start;
    margin-top: 4px;
    
}
